#toolbar{
    background: rgba(42, 42, 42, 0.8);
    padding: 4px;
    border-radius: 4px;
    display: flex;
}

#toolbar table tr {
    transform: translateY(0);
    transition: transform 1s ease-out;
}

#toolbar table td {
    transform: translateY(0);
    padding: 1px;
    transition: margin-right 1s;
}

#toolbar input {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}

#toolbar p{
    padding-left: 5px;
}

#cellAlphaText{
    width: 50px;
}

#echart{
    
    background: rgba(42, 42, 42, 0.8);
    width: 600px;
    height: 400px;
    position:absolute;
    bottom: 10%;
}

