
html {
  height: 100%;
}

body {
  background: #000;
  color: #eee;
  font-family: sans-serif;
  font-size: 9pt;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullSize {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}

#loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  display: none;
}

#loadingOverlay h1 {
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -0.5em;
}

.sandcastle-loading #loadingOverlay {
  display: block;
}

.sandcastle-loading #toolbar {
  display: none;
}

#toolbar {
  margin: 5px;
  padding: 2px 5px;
  position: absolute;
}

.infoPanel {
  background: rgba(42, 42, 42, 0.8);
  padding: 4px;
  border: 1px solid #444;
  border-radius: 4px;
}



#toolbar{
    background: rgba(42, 42, 42, 0.8);
    padding: 0.6rem;
    margin: 0.6rem;
    border-radius: 1.2rem;
    font-size: 0.7rem;
}

#toolbar table tr {
    transform: translateY(0);
    transition: transform 1s ease-out;
}

#toolbar table td {
    transform: translateY(0);
    padding: 1px;
    transition: margin-right 1s;
}

#toolbar input {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}

#toolbar p, span{
    padding-left: 5px;
    /* padding-top: 10px; */
}

#cellAlphaText{
    width: 50px;
}

#echart{  
    background: rgba(42, 42, 42, 0.8);
    width: 600px;
    height: 400px;
    position:absolute;
    bottom: 10%;
}


#parametersPanel{
    background: rgba(42, 42, 42, 0.8);
    width: 25%;
    height: 70%;
    top: 5%;
    left: 50%;
    padding: 1%;
    overflow: auto;
}

#parametersPanel .panel-primary{
    padding: 4px;
}

#parametersPanel .panel-heading{
    padding: 2px;
    font-size: 16px;
    text-align: center;
}

#parametersPanel p{
    font-size: 8pt;
}


#parametersPanel table td{
    transform: translateY(0);
    text-align: center;
    padding-left: 5%;
    width: 35%;
}

#parametersPanel input{
    width: 50%;
    text-align: left;
}

.xl-bac {
    position: relative;
    display: inline-block;
    align-items: center;
    background: #303336;
    border-radius: 4px;
    padding: 5px 12px;
    margin: 2px 3px;
    border: 1px solid #444;
    color: #edffff;
    fill: #edffff;
    cursor: pointer;
}

.xl-bac input {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}

.xl-right-buttom{
    position: absolute;
    right: 1.2rem;
}